/* VARIABLES */
body {
  font: 100% Arial, sans-serif; }

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center; }

.marketing h2,
.marketing h3 {
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #4e4e4e; }

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color: #4e4e4e; }

.how-icon {
  padding: 0 60px; }

.icon {
  width: 110px;
  height: 110px; }

.popular {
  background-color: #eaeaea;
  height: 580px; }

img.popweek {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.arrow {
  border: 1px solid #0120a6;
  border-radius: 100px;
  padding: 5px; }

.arrow-right {
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 5px; }

.overlay-overview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 54%;
  opacity: 0;
  transition: .3s ease;
  background: rgba(0, 0, 0, 0.5); }

.overlay-overview:hover {
  opacity: 1; }

.overlay-time {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 690px;
  height: 340px;
  opacity: 0;
  transition: .3s ease;
  background: rgba(0, 0, 0, 0.5); }

.overlay-time:hover {
  opacity: 1; }

#time {
  margin-bottom: 0; }

.overlay-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

.fa-search {
  color: #ffffff; }

form .fa-search {
  color: black; }

h1 {
  text-align: center;
  padding: 40px 0;
  color: #0a1e75;
  font-weight: 100 !important; }

#home .card {
  margin-left: 25px;
  width: 310px;
  height: 165px;
  margin-bottom: 10px; }

.card-sm {
  width: 310px;
  height: 165px; }

.card-bg {
  width: 690px;
  height: 340px; }

.container-hover {
  position: relative;
  width: 690px;
  height: 340px; }

.big-hover {
  overflow: hidden;
  top: 0;
  left: 0; }

.popular .big-hover {
  position: absolute; }

.big-hover img {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease; }

.big-hover:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

#home .col-sm-4 {
  padding-right: 0px !important; }

#home .col-sm-8 {
  padding-left: 0px !important; }

.card img {
  object-fit: cover; }

.footer {
  background-color: #ffffff;
  height: 500px; }

.container-fluid {
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto; }

.car-photo {
  position: relative;
  top: -15px; }

.padd {
  padding: 18px 0px;
  background-color: black; }

.overlay-text {
  opacity: 1 !important;
  color: #ffffff;
  line-height: 150%;
  font-size: 15px;
  word-break: break-all; }

.overlay {
  background-color: #0120a6;
  opacity: .6;
  position: absolute;
  top: 575px;
  left: 265px;
  width: 66%;
  padding: 30px 50px; }

.decoration-round {
  width: 30px;
  height: 30px;
  background-color: #01a6a0;
  border: 6px solid #ffffff;
  position: absolute;
  top: 560px;
  left: 250px;
  z-index: 1;
  border-radius: 25px; }

.login-user {
  margin: 0 10px !important; }

.login-user .form-control {
  width: 130px;
  font-style: italic;
  background-color: #eaeaea;
  border-radius: 0.1; }

.overlay-text-cta {
  opacity: 1 !important;
  line-height: 150%;
  color: #ffffff; }

.overlay-cta h3,
.overlay-cta p {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px; }

.overlay-h3-cta {
  border-bottom: 1px solid #ffffff; }

.overlay-cta {
  background-color: #0120a6;
  opacity: .6;
  position: absolute;
  top: 165px;
  left: 940px;
  width: 22%; }

.decoration-round-cta {
  width: 33px;
  height: 33px;
  background-color: #01a6a0;
  border: 7px solid #ffffff;
  position: absolute;
  top: 148px;
  left: 925px;
  z-index: 1;
  border-radius: 25px; }

body,
html {
  height: 100%; }

.hero-image {
  background-image: url("../img/plaat.jpg");
  height: 78%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

a {
  color: #01a6a0; }

.visit {
  background-color: #ffffff;
  color: #01a6a0;
  position: absolute;
  left: 940px;
  top: 409px;
  width: 22%;
  height: 80px;
  padding: 25px;
  font-size: 1.5rem; }

.img-text {
  position: absolute;
  top: 604px;
  padding: 0px 50px; }
  .img-text h1 {
    text-align: left;
    color: #000; }

#profile h2 {
  font-size: 3rem;
  padding: 40px 0; }

.info-card {
  border: 1px solid #eaeaea; }

.info-card ul {
  list-style: none; }

.info-card .col-sm-4 {
  display: inline-block;
  padding-right: 0px;
  width: 25%; }

.info-card h3 {
  padding: 20px;
  padding-left: 40px; }

.numbers {
  border-left: 1px solid #eaeaea;
  margin-bottom: 20px; }

.numbers h6 {
  color: #0120a6; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

.gallery {
  background: #EEE; }

.gallery-cell {
  width: 28%;
  height: 269px !important;
  margin-right: 10px;
  counter-increment: gallery-cell; }

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white; }

.gallery-cell {
  width: 24%;
  height: 300px; }

.gallery-cell img {
  z-index: 1;
  width: 101%;
  height: 100%; }

.gallery-cell:before {
  content: none; }

.element-style {
  height: 300px; }

.flickity-page-dots .dot {
  display: none !important; }

.flickity-prev-next-button.previous {
  left: 0 !important;
  padding: 135px 0;
  /*!--------------------------*/
  background: black;
  opacity: 0.5; }

.flickity-prev-next-button.next {
  right: -8 !important;
  padding: 135px 0;
  background: black;
  opacity: 0.5; }

.flickity-prev-next-button {
  border-radius: 0 !important; }

.flickity-slider {
  width: 101% !important; }

.auction-body {
  line-height: 0;
  z-index: 3 !important;
  color: black;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px; }

.auction-footer {
  margin-bottom: 40px; }

.auction {
  padding-bottom: 150px;
  padding-top: 40px; }
  .auction .gallery-cell {
    display: inline-block;
    margin-right: 0; }
    .auction .gallery-cell img {
      height: 269px;
      width: 250px; }
  .auction .gallery {
    background-color: #eaeaea; }
  .auction .gallery-full {
    display: inline-block; }

.related-items {
  background-color: #eaeaea; }

.auction h3 {
  padding: 20px 0; }

.auction-details {
  color: #0a1e75 !important; }

.flickity-viewport {
  overflow: visible !important; }

.auction-time {
  border-bottom: 1px solid #eaeaea;
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 30px;
  padding-right: 15px;
  font-size: 13px; }

.auction-visit {
  font-weight: 600;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  color: #0a1e75;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px; }

#new-auctions {
  color: black;
  text-decoration: underline;
  font-weight: 600; }

.breadcrumbs {
  color: #01a6a0;
  margin: 40px 0;
  font-weight: 400; }

#watchlist h2,
#auctions h2 {
  margin: 30px 0; }

#watchlist .col-sm-4,
#watchlist .col-sm-8 {
  display: inline-block;
  margin-bottom: 30px; }

#watchlist th:nth-child(1) {
  visibility: collapse;
  border-bottom: 1px solid #ffffff; }

#watchlist td:nth-child(1) {
  border: 1px solid #ffffff; }

#checkBox {
  width: 20px;
  height: 20px; }

th {
  background-color: #f7f7f7 !important;
  border-color: #4e4e4e;
  height: 35px !important;
  color: #4e4e4e; }

.watchlist h4 {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 40px; }

.watchlist h3 {
  margin-top: 40px;
  margin-bottom: 20px; }

.watchlist p {
  margin-bottom: 0; }

.fast-questions {
  border: 1px solid #eaeaea;
  padding: 20px;
  margin: 0 auto; }

.f-question {
  color: #01a6a0;
  display: inline-block;
  margin-left: 50px; }

.search-button {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  color: #0a1e75;
  float: right;
  padding: 10px;
  text-align: center; }

.fq {
  margin-bottom: 100px; }

.questions .col-sm-2,
.questions .col-sm-8 {
  display: inline-block; }

.QandA .col-sm-8 p {
  vertical-align: top; }

.QandA {
  border-bottom: 1px solid #eaeaea;
  margin: 30px 0; }

.title-q {
  color: #0a1e75;
  font-size: 1.5em; }

.title-a {
  font-size: 1.5em; }

#search #name,
#search #artist {
  background-color: #eaeaea;
  padding: 10px; }

#search #info {
  background-color: #eaeaea;
  padding: 10px; }

label {
  color: #0a1e75;
  font-size: 1.5rem; }

#search h2 {
  padding: 40px 0; }

.s-overview {
  margin-top: 50px; }

.s-overview .col-sm-8,
.s-overview .col-sm-3 {
  display: inline-block; }

.overview {
  border: 1px solid #eaeaea;
  padding: 20px;
  display: flex;
  flex-direction: row; }

.overview p {
  line-height: 50%; }

.flex-4 {
  flex: 4; }

.flex-1 {
  flex: 1; }

.own {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
  color: #0a1e75;
  padding: 20px 10px; }

.watchlist img {
  width: 140px;
  height: 140px;
  display: inline-block;
  float: left; }

table,
th,
td,
tr {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th {
  height: 50px;
  text-align: center;
  background-color: #eaeaea; }

td {
  height: 50px;
  vertical-align: middle;
  text-align: center; }

.small-images img {
  display: inline-block; }

.small-images img {
  border: 1px solid black;
  width: 230px;
  height: 120px;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 5px; }

.small-images:hover {
  cursor: pointer; }

#big-image img {
  height: 383px;
  width: 722px;
  object-fit: cover; }

#detail .col-sm-3,
#detail .col-sm-8 {
  display: inline-block; }

.detail {
  vertical-align: top; }

.detail-title,
.detail-text,
.detail-time {
  text-align: right; }

.detail-title,
.detail-time {
  border-bottom: 1px solid #eaeaea; }

.detail-title {
  line-height: 20%; }

.detail-title p,
.price p {
  color: #0a1e75; }

.detail-time .detail-hour {
  color: #01a6a0; }

.detail-time {
  padding: 20px 0;
  line-height: 20%;
  font-size: 12px; }

.detail-text {
  padding: 20px 0;
  font-size: 12px; }

.price {
  border: 1px solid #eaeaea;
  text-align: right; }

.bid-now input {
  width: 100px;
  height: 40px;
  padding: 15px; }

.bid-now {
  background-color: #01a6a0;
  padding: 10px;
  color: #ffffff; }

.extra-info .col-sm-9,
.extra-info .col-sm-3 {
  display: inline-block; }

.detail {
  margin-left: -26px; }

.extra-info {
  border: 1px solid #eaeaea;
  margin-top: 40px;
  padding: 20px 10px;
  font-size: 14px; }

.extra-info h6 {
  font-weight: 700; }

.extra-right {
  border-left: 1px solid #eaeaea;
  margin-left: -5px; }

.extra-right ul {
  list-style: none;
  padding-left: 0; }

.adv {
  float: right;
  padding-right: 33%;
  color: #0a1e75; }
  .adv img {
    vertical-align: middle;
    border-style: none;
    border: 1px solid lightgray;
    background: lightgray;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer; }

.filter-li.selected {
  text-decoration: underline; }
  .filter-li.selected:after {
    content: "\f057"; }

.sort-by {
  padding: 20px;
  padding-left: 15%; }

.auction-1 {
  display: inline-block !important; }

.auction-1 img {
  width: 95%; }

#overzicht .footer {
  margin-top: 50px; }

.top-numb {
  float: right;
  letter-spacing: 5px;
  margin: 40px 0; }
  .top-numb a {
    color: black; }
    .top-numb a:hover {
      text-decoration: none; }

#filter h4 {
  font-size: 1.2rem;
  font-weight: 700; }

#filter ul {
  list-style: none;
  padding-left: 10px; }
  #filter ul a {
    color: black;
    line-height: 1.5; }
    #filter ul a:hover {
      text-decoration: none;
      color: #0a1e75; }

.card-lg {
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

.footer {
  clear: both; }

#overzicht .card {
  margin-left: 0px;
  width: 524px;
  height: 821px;
  margin-bottom: 10px; }

#overzicht .col-sm-6,
#overzicht .col-sm-3 {
  padding-left: 0 !important; }

#overzicht .auction-1 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

#overzicht .auction-body {
  z-index: 3 !important;
  color: black;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px; }

#overzicht .auction {
  padding-bottom: 150px;
  padding-top: 40px; }

#overzicht .auction h3 {
  padding: 20px 0; }

#overzicht .auction-details {
  color: #0a1e75 !important; }

#overzicht .auction-time {
  border-bottom: 1px solid #eaeaea;
  display: inline-block;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: 30px;
  padding-right: 15px; }

#overzicht .auction-visit {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  color: #0a1e75;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px; }

#newAuction label {
  color: #0120a6;
  font-size: 20px; }

.form-control {
  background-color: #f7f7f7;
  padding: .375rem .75rem;
  border-radius: 1px; }

#newAuction .form-check {
  margin-left: 20px; }

#select-style {
  background-color: #eaeaea; }

select > option {
  background-color: #f7f7f7;
  border-bottom: 1px solid red; }

.nice-select {
  border-radius: 0;
  background-color: #e5e5e5;
  color: #4f4f4f;
  font-weight: bold; }
  .nice-select .list {
    border-radius: 0;
    background-color: #fafafa;
    color: #4f4f4f;
    border-bottom: 1px solid #e4e4e4; }
    .nice-select .list li.option {
      border-bottom: 1px solid #e4e4e4; }

.nice-select:after {
  border-bottom: 1.5px solid #999;
  border-right: 1.5px solid #999;
  right: 20px;
  top: 44%;
  width: 10px;
  height: 10px; }

.error {
  color: red !important;
  border: 1px solid red;
  background: pink !important; }

.error-message {
  background-color: pink;
  color: red;
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 30px;
  display: none; }

#success {
  color: #01a6a0;
  display: none;
  font-size: 25px;
  position: absolute;
  left: 498px;
  top: 37px; }

#register .form-control {
  background-color: #eaeaea;
  padding: .375rem .75rem;
  border-radius: 1px; }

.inactive {
  display: none; }

#pop2 {
  height: 600px;
  background-color: #01a6a0; }
  #pop2 h1,
  #pop2 p {
    color: #ffffff; }
  #pop2 p {
    margin-top: 350px; }

.admin-request {
  float: right;
  margin-top: 37px; }

.q-row {
  display: flex; }

.question {
  flex: 1;
  color: #01a6a0;
  font-weight: 700;
  text-decoration: underline; }

#pop2 .container img:nth-child(1), #pop2 .container img:nth-child(3) {
  width: 400px;
  height: 250px; }

#pop2 .container img:nth-child(1) {
  position: absolute;
  top: 1532px;
  left: 284px;
  border: 10px solid white; }

#pop2 .container img:nth-child(2) {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 1507px;
  left: 538px;
  border: 10px solid white;
  z-index: 3; }

#pop2 .container img:nth-child(3) {
  top: 1532px;
  position: absolute;
  right: 298px;
  border: 10px solid white; }

.footer-nav {
  border-bottom: 4px solid #01a6a0; }

.footer-rechts a {
  text-decoration: underline; }

.logo2 {
  width: 1.431in;
  height: 1.944in;
  position: absolute;
  z-index: 2345;
  margin-top: -132px;
  margin-left: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.footer-wrapper {
  margin-top: 100px;
  border-top: 1px solid #e5e5e5; }

.footer-wrapper h6 {
  font-weight: 700; }

.footer-wrapper ul li {
  list-style: none;
  font-size: 14px; }

.footer-wrapper ul {
  padding-left: 0; }

.footer-wrapper a {
  color: #01a6a0; }

.footer-rechts {
  padding-left: 30px;
  border-left: 1px solid #e5e5e5; }

.f-icon {
  display: inline-block !important;
  margin-right: 5px; }

.f-search {
  width: 180px !important;
  height: 25px; }

.footer-search {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
  margin-right: 0px !important; }

.top {
  margin-top: 40px; }

h6 {
  margin-bottom: 1px; }

.copy {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 30px;
  padding-bottom: 10px;
  color: #7e7e7e;
  font-size: 12px; }

footer .col-sm-3 {
  padding-bottom: 60px; }

.fa,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #0a1e75; }

.logo {
  width: 1.431in;
  height: 1.944in;
  position: absolute;
  z-index: 2345;
  margin-top: -20px;
  margin-left: 15.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.form-control {
  padding: 2px 12px; }

.form-inline {
  margin-right: 15%; }

.search {
  padding-left: 20px !important;
  font-style: italic; }

.search::-webkit-input-placeholder {
  color: #000; }

.search:-moz-placeholder {
  color: #000; }

.search::-moz-placeholder {
  color: #000; }

.search:-ms-input-placeholder {
  color: #000; }

.lijntje {
  border-top: 4px solid #01a6a0; }

.navbar-nav {
  margin-left: 26.5%; }

.blue-nav {
  padding-right: 5px;
  font-size: 13px; }

.nav-link {
  font-size: 15px; }

.fa-user {
  padding-right: 8px; }

.line {
  border-left: 1px solid #0a1e75;
  padding-left: 25px; }

.blue-nav1 {
  padding: 0 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 13px !important; }

.navbar-dark .navbar-nav .nav-link {
  color: #4e4e4e;
  font-weight: 700;
  margin-left: 0px;
  padding-right: 25px; }

.bg-dark,
.navbar-dark {
  background-color: #eaeaea !important; }

.navbar-right {
  margin-left: 200px; }

.taal {
  padding-right: 10px !important;
  color: #0a1e75 !important;
  font-weight: 400 !important; }

.active {
  font-weight: 700 !important; }

.btns-right {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  color: #0a1e75;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  float: right;
  font-weight: 700;
  margin: 5px; }

.btn-primary {
  border-radius: 0;
  background-color: rgba(54, 59, 54, 0.467);
  border-color: rgba(54, 59, 54, 0.467); }

.extra-info .btn {
  white-space: normal;
  margin: 40px 0; }

#newAuction .btn-primary {
  white-space: normal;
  margin-right: 60px; }

.btn-success {
  padding: 15px 60px;
  background-color: #01a6a0;
  border-radius: 1px;
  margin-bottom: 20px; }

#newAuction .btn-primary {
  background-color: #4e4e4e;
  padding: 10px 20px; }

.btn-visit {
  color: #0a1e75; }
  .btn-visit:hover {
    text-decoration: none;
    color: #0a1e75; }

.carousel-control-prev-icon {
  width: 40px;
  height: 45px;
  background-color: black;
  margin: 0;
  background-image: url(../img/left-chevron.png); }

.carousel-control-next,
.carousel-control-prev {
  width: 40px;
  opacity: 0.3; }

.carousel-control-next-icon {
  width: 40px;
  height: 45px;
  background-color: black;
  margin: 0;
  background-image: url(../img/right-chevron.png); }

.carousel-inner {
  max-height: 850px; }

.carousel-indicators li {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  border: 1px solid #ffffff;
  opacity: 0.7;
  margin: 1px 9px; }

.carousel-indicators .active {
  opacity: .8; }

#carousel-home {
  position: relative; }
