$blueGreen: #01a6a0;

.footer-nav {
    border-bottom: 4px solid $blueGreen;
}

.logo2 {
    width: 1.431in;
    height: 1.944in;
    position: absolute;
    z-index: 2345;
   // margin-top: -50px;
    //margin-left: 310px;
    margin-left: 16%;
}