/* VARIABLES */
$font-stack: Arial, sans-serif;
$gray: #eaeaea;
$white: #ffffff;
$darkBlue: #0a1e75;
$blueGreen: #01a6a0;

body {
    font: 100% $font-stack;
   // padding-top: 50px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 15px;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.icon {
    width: 1.653in;
    height: 1.625in;
}

.popular {
    background-color: $gray;
    height: 700px;
}

h1 {
    text-align: center;
    padding: 40px 0;
    color: $darkBlue;
}

.card-sm {
    width: 4.347in;
    height: 2.361in;
}

.card-bg {
    width: 9.764in;
    height: 4.819in;
}

.card img {
    object-fit: cover;
}

.footer {
    background-color: $white;
    height: 500px;
}

.container-fluid {
    max-width: 1330px;
    min-width: 1330px;
    margin: 0 auto;
}

.carousel-control-prev-icon {
    width: 40px;
    height: 45px;
    background-color: black;
    margin: 0;
    background-image: url(../img/left-chevron.png);
}

.carousel-control-next, .carousel-control-prev {
    width: 40px;
    opacity: 0.3;
}

.carousel-control-next-icon {
    width: 40px;
    height: 45px;
    background-color: black;
    margin: 0;
    background-image : url(../img/right-chevron.png);
}

.padd {
    padding: 18px 10px;
    background-color: black;
}

.carousel-indicators li {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    border: 1px solid white;
    opacity: 0.7;
    margin: 10px;

}

.carousel-indicators .active{
    opacity: .8;
}

#carousel-home {
    position: relative;
}

.overlay-text {
    opacity: 1!important;
    line-height: 150%;
}

.overlay {
    background-color: $darkBlue;
    opacity: .4;
    position: absolute;
    top: 800px; 
    left: 280px;
    width: 70%;
    padding: 50px;
}

.decoration-round {
    width: 40px;
    height: 40px;
    background-color: $blueGreen;
    border: 8px solid $white;
    position: absolute;
    top: 780px;
    left: 260px;
    z-index: 1;
    border-radius: 25px;
}