/* VARIABLES */
$font-stack: Arial, sans-serif;
$gray: #eaeaea;
$darkGray: #4e4e4e;
$white: #ffffff;
$darkBlue: #0a1e75;
$blueGreen: #01a6a0;
$blue: #0120a6;

body {
    font: 100% $font-stack;
   // padding-top: 50px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2, .marketing h3 {
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $darkGray;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
    color: $darkGray;
}

.how-icon{
    padding:0 60px;
}
.icon {
    width: 110px;
    height: 110px;
}

.popular {
    background-color: $gray;
    height: 580px;
}

.arrow{
    border: 1px solid $blue;
    border-radius: 100px;
    padding:5px;
}

h1 {
    text-align: center;
    padding: 40px 0;
    color: $darkBlue;
    font-weight:100!important;
}

#home .card{
    margin-left:25px;
    width: 310px;
    height: 165px;
    margin-bottom:10px;
}
.card-sm {
    
    width: 310px;
    height: 165px;
}

.card-bg {
    width: 690px;
    height: 340px;
    
}

.container-hover{
    position: relative;
    width: 690px;
    height: 340px;
}

.big-hover{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.big-hover:after{
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.big-hover:hover:after {
    opacity:1;
}
.big-hover img{
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
.big-hover:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}



#home .col-sm-4{
    padding-right:0px!important;
}

#home .col-sm-8{
    padding-left:0px!important;
}

.card img {
    object-fit: cover;
}

.footer {
    background-color: $white;
    height: 500px;
}

.container-fluid {
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

.carousel-control-prev-icon {
    width: 40px;
    height: 45px;
    background-color: black;
    margin: 0;
    background-image: url(../img/left-chevron.png);
}

.carousel-control-next, .carousel-control-prev {
    width: 40px;
    opacity: 0.3;
}

.carousel-control-next-icon {
    width: 40px;
    height: 45px;
    background-color: black;
    margin: 0;
    background-image : url(../img/right-chevron.png);
}

.car-photo{
    position:relative;
    top:-15px;
}

.padd {
    padding: 18px 0px;
    background-color: black;
}

.carousel-inner{
    max-height:850px;
}
.carousel-indicators li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 1px solid $white;
    opacity: 0.7;
    margin: 1px 9px;

}

.carousel-indicators .active{
    opacity: .8;
}

#carousel-home {
    position: relative;
}

.overlay-text {
    opacity: 1!important;
    color:$white;
    line-height: 150%;
    font-size:15px;
    word-break:break-all;
}

.overlay {
    background-color:$blue;
    opacity:.6;
    position: absolute;
    top: 575px; 
    left: 265px;
    width: 66%;
    padding: 30px 50px;
}

.decoration-round {
    width: 30px;
    height: 30px;
    background-color: $blueGreen;
    border: 6px solid $white;
    position: absolute;
    top: 560px;
    left: 250px;
    z-index: 1;
    border-radius: 25px;
}


.login-user{
    margin:0 10px!important;
}

.login-user .form-control{
    width:130px;
    font-style:italic;
    background-color:$gray;
    border-radius:0.1;
}

#nav1-welcome{
   // display:none!important;
}

// -------------profile------------ //
.overlay-text-profile {
    opacity: 1!important;
    line-height: 150%;
    color:$white;
}

.overlay-profile h3, .overlay-profile p{
    color:$white;
    padding-top:20px;
    padding-bottom:0px;
    padding-left:40px;
    padding-right:40px;
}

.overlay-h3-profile{
    border-bottom: 1px solid $white;
}

.overlay-profile {
    background-color: $blue;
    opacity: .6;
    position: absolute;
    top: 165px; 
    left: 940px;
    width: 22%;
}

.decoration-round-profile {
    width: 33px;
    height: 33px;
    background-color: $blueGreen;
    border: 7px solid $white;
    position: absolute;
    top: 148px;
    left: 925px;
    z-index: 1;
    border-radius: 25px;
}
body,html{
    height:100%;
}
.hero-image{
    background-image: url("../img/plaat.jpg");
    height:60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    // mirror image
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

a{
    color:$blueGreen;
}


.visit{
    background-color:$white;
    color:$blueGreen;
    position: absolute;
    left:940px;
    top:445px;
    width:22%;
    height:80px;
    padding:25px;
    font-size:1.5rem;
}

#profile h2{
    font-size:3rem;
    padding:40px 0;
    
}

.info-card{
    border: 1px solid $gray;
}

.info-card ul{
    list-style:none;
}

.info-card .col-sm-4{
    display:inline-block;
    padding-right:0px;
    width:25%;
}

.info-card h3{
    padding:20px;
    padding-left:40px;
}

.numbers{
    border-left: 1px solid $gray;
    margin-bottom:20px;
}

.numbers h6{
    color:$blue;
}

//---------------------------------------

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 28%;
    height: 269px!important;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  .gallery-cell.is-selected {
    background: #ED2;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .gallery-cell{
      width:24%;
      height:300px;
      
  }

  .gallery-cell img{
      z-index:1;
      width:101%;
      height:100%;
      
  }

  .gallery-cell:before {
      content:none;
  }

  .element-style{
      height:300px;
  }

  .flickity-page-dots .dot{
      display:none!important;
  }
  
  .flickity-prev-next-button.previous{
      left:0!important;
      padding:135px 0;   /*!--------------------------*/
      background:black;
      opacity:0.5;
  }

  .flickity-prev-next-button.next{
    right: -8!important;
      padding:135px 0;
      background:black;
      opacity:0.5;
  }

  .flickity-prev-next-button{
      border-radius:0!important;
  }

  .flickity-slider{
      width:101%!important;
  }

  //------------------------------------------//
  .auction-body{
      z-index:3!important;
      color:black;
      padding-top:30px;
      padding-bottom: 0px;
      padding-left: 30px;
      padding-right:30px;
  }

  .auction{
      padding-bottom:150px;
      padding-top:40px;
  }

  .auction h3{
      padding:20px 0;
  }

  .auction-details{
      color:$darkBlue!important;
  }

  .flickity-viewport{
    overflow:visible!important;
  }

  .auction-time{
      border-bottom:1px solid $gray;
      display:inline-block;
      padding-bottom:15px;
      padding-top:15px;
      margin-left:30px;
      //padding-left:10px;
      padding-right:15px;
      font-size:13px;
  }

  .auction-visit{
      border:1px solid $gray;
      background-color:#f7f7f7;
      color:$darkBlue;
      display:inline-block;
      padding-top:15px;
      padding-bottom:15px;
      padding-left:10px;
      padding-right:10px;
      font-size:13px;
  }

  .breadcrumbs{
      color:$blueGreen;
      margin:40px 0;
      font-weight: 600;

  }

  #watchlist h2, #auctions h2{
      margin: 30px 0;
  }


  .btns-right{
    border:1px solid $gray;
    background-color:#f7f7f7;
    color:$darkBlue;
    display:inline-block;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    font-size:13px;
    float:right;
    font-weight:700;
    margin:5px;
}
   
    #watchlist .col-sm-4, #watchlist .col-sm-8 {
        display: inline-block;
        margin-bottom: 30px;
    }


    #watchlist th:nth-child(1) {
        visibility: collapse;
        border-bottom: 1px solid $white;
    }

    #watchlist td:nth-child(1) {
        border: 1px solid $white;
    }

    #checkBox {
        width: 20px;
        height: 20px;
    }

    th {
        background-color:#f7f7f7!important;
        border-color: $darkGray;
        height: 35px!important;
        color: $darkGray;
    }

    .watchlist h4{
        margin-top:40px;
        margin-bottom:0;
        margin-left:40px;
    }

    .watchlist h3{
        margin-top:40px;
        margin-bottom:20px;
  
    }

    .watchlist p{
        margin-bottom:0;
    }
    
  //------- FAQ ------//
  .fast-questions{
      border:1px solid $gray;
      padding:50px;
      margin: 0 auto;
    }

  .f-question{
      color:$blueGreen;
      display:inline-block;
      margin-left:50px;
  }

  .search-button{
      border:1px solid $gray;
      background-color:#f7f7f7;
      color:$darkBlue;
      float:right;
      padding:10px;
      text-align:center;

  }

  .fq{
    margin-bottom:100px;
  }

  .questions .col-sm-2, .questions .col-sm-8{
      display:inline-block;
  }

.QandA .col-sm-8 p{
    vertical-align:top;
}

.QandA{
    border-bottom:1px solid $gray;
    margin:30px 0;
}
.title-q{
    color:$darkBlue;
    font-size:1.5em;
}

.title-a{
    font-size:1.5em;
}

#search #name, #search #artist{
    width:40%;
    background-color:$gray;
    padding:10px;
}
#search #info{
    width:60%;
    background-color:$gray;
    padding:10px;
}

label{
    color:$darkBlue;
    font-size:1.5rem;
}

.btn-primary{
    border-radius:0;
    background-color:rgba(54, 59, 54, 0.467);
    border-color:rgba(54, 59, 54, 0.467);
}

#search h2{
    padding:40px 0;
}

.s-overview{
    margin-top:50px;
}

.s-overview .col-sm-8, .s-overview .col-sm-3{
    display:inline-block;
}

.overview{
    border:1px solid $gray;
    padding:20px;
}

.overview p{
    line-height:50%;
}

.own{
    border:1px solid $gray;
    background-color:$gray;
    color:$darkBlue;
    padding: 20px 10px;
}

.watchlist img{
    width:140px;
    height:140px;
    display:inline-block;
    float:left;
}

table, th, td, tr{
    border:1px solid $gray;
}
table{
    width: 100%;
}

th{
    height: 50px;
    text-align:center;
    background-color:$gray;
}

td {
    height: 50px;
    vertical-align: middle;
    text-align: center;
}


// -------------- photo gallery
.small-images img{
    display: inline-block;
  }
  .small-images img{
    border: 1px solid black;
    width:230px;
    height:120px;
    object-fit: cover;
    margin-top:10px;
    margin-right:5px;

  }
  .small-images:hover{
    cursor: pointer;
  }

  #big-image img{
      height:383px;
      width:722px;
      object-fit: cover;
  }

  #detail .col-sm-3, #detail .col-sm-8{
      display:inline-block;
  }

  .detail{
    vertical-align: top;
  }

  .detail-title, .detail-text, .detail-time{
      text-align:right;
  }

  .detail-title, .detail-time{
    border-bottom:1px solid $gray;
}

  .detail-title{
    line-height: 20%;
  }
  .detail-title p, .price p {
      color:$darkBlue;
  }

  .detail-time .detail-hour {
      color:$blueGreen;
  }
  .detail-time{
      padding:20px 0;
      line-height: 20%;
      font-size:12px;
  }

  .detail-text{
    padding:20px 0;
    font-size:12px;
  }

  .price{
      border:1px solid $gray;
      text-align:right;
  }

  .bid-now input{
    width: 100px;
    height: 40px;
    padding:15px;
  }

  .bid-now{
      background-color:$blueGreen;
      padding:10px;
      color:$white;
  }
  .extra-info .col-sm-9, .extra-info .col-sm-3{
      display:inline-block;
  }

  .detail{
      margin-left:-26px;
  }
  .extra-info{
      border:1px solid $gray;
      margin-top:40px;
      padding:20px 10px;
      font-size:14px;
  }

  .extra-info h6{
      font-weight:700;
  }
  .extra-right{
      border-left:1px solid $gray;
      margin-left:-5px;
  }
  .extra-right ul{
      list-style:none;
      padding-left:0;

  }
  .adv{
      float:right;
      padding-right:33%;
  }

  .sort-by{
      padding:20px;
      border-bottom:1px solid $gray;
      padding-left:15%;
  }

  .extra-info .btn{
      white-space:normal;
      margin:40px 0;
  }

  .related-items{
    //  background-color:$gray;
     
  }
  // --------------- overzicht ----------------//

.auction-1{
      display:inline-block!important;
}
.auction-1 img{
  width:95%;
}
#overzicht .footer{
    margin-top:50px;
}

.top-numb{
    float:right;
}

.card-lg{
    display:block;
}
.left{
    float:left;
}

.right{
    float:right;
}

.footer{
    clear:both;
}

#overzicht .card{
        margin-left:0px;
        width: 524px;
        height: 821px;
        margin-bottom:10px;
    
}


#overzicht .col-sm-6, #overzicht .col-sm-3{
    padding-left:0!important;
}
#overzicht .auction-1{
    padding-left:0!important;
    padding-right:0!important;
}

#overzicht .auction-body{
    z-index:3!important;
    color:black;
    padding-top:30px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right:30px;
}

#overzicht .auction{
    padding-bottom:150px;
    padding-top:40px;
}

#overzicht .auction h3{
    padding:20px 0;
}

#overzicht .auction-details{
    color:$darkBlue!important;
}

#overzicht .auction-time{
    border-bottom:1px solid $gray;
    display:inline-block;
    padding-bottom:15px;
    padding-top:15px;
    margin-left:30px;
    //padding-left:10px;
    padding-right:15px;
}

#overzicht .auction-visit{
    border:1px solid $gray;
    background-color:#f7f7f7;
    color:$darkBlue;
    display:inline-block;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
}

// --------- newAuction --------------//

#newAuction label{
    color:$blue;
    font-size:20px;
}

.auction .form-control{
   // height:50px;
    background-color:#f7f7f7;
    padding:.375rem .75rem;
    border-radius:1px;
}

#newAuction .btn-primary{
    white-space:normal;
    margin-right:60px;
}

.btn-success{
    padding:15px 60px;
    background-color:$blueGreen;
    border-radius:1px;
    margin-bottom:20px;
}

#newAuction .btn-primary{
    background-color:$darkGray;
    padding:10px 20px;
}

#newAuction .form-check{
    margin-left:20px;
}


  
    #select-style{
      background-color:$gray;
  }

  .select > option {
      background-color: #f7f7f7;
  }


// --------- Register -------- //
#register .form-control{
    background-color:$gray;
    padding:.375rem .75rem;
    border-radius:1px;
   // height:50px;
}

//----------------------------------------------------------//

.inactive {
    display: none;
}

#pop2 {
    background-color: $blueGreen;
    h1, p {
        color: $white;
    }
}