/* VARIABLES */

$font-stack: Arial,
sans-serif;
$lightGray: #e5e5e5;
$gray: #eaeaea;
$betweenGray: #7e7e7e;
$darkGray: #4e4e4e;
$white: #ffffff;
$darkBlue: #0a1e75;
$blueGreen: #01a6a0;
$blue: #0120a6;